<div class="container">
    <div class="row">
        <div class="col-7">
            <img src="assets/img/edificio.jpg" alt="seguni">
        </div>
        <div class="col-5">
            <h1><strong>Contáctanos</strong></h1>
            <p>Ponte en contacto con nosotros por la vía que prefieras, estaremos gustosos de atender tu comunicación.</p>
            
            <div class="row">
                <p class="pi pi-phone col-1"></p>
                <p class="col"><strong>Telefono</strong> {{telefono}}</p>
            </div>
            <div class="row">
                <p class="pi pi-whatsapp col-1"></p>
                <p class="col"><strong>Whatsapp</strong> {{whatsapp}}</p>
            </div>
            <div class="row">
                <p class="pi pi-envelope col-1"></p>
                <p class="col"><strong>Correo</strong> {{correo}}</p>
            </div>
        </div>
    </div>
</div>