<div class="wrapper">
  <div class="sidebar" data-color="blueseguni" data-active-color="white">
      <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <div class="sticky-nav">
      <navbar-cmp></navbar-cmp>
    </div>
      
      <div class="content">
          <router-outlet></router-outlet>
      </div>
      <footer-cmp></footer-cmp>
  </div>
</div>



<ngx-spinner 
  bdColor = "rgba(0, 0, 0, 0.8)" 
  size = "medium" 
  color = "#fff" 
  type = "ball-scale-multiple"  
  [fullScreen] = "true">
  <p style="color: white" > Cargando... </p>
</ngx-spinner>

<p-toast position="bottom-right"></p-toast>

